<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>観光ガイドアプリ</title>
    <!-- 外部CSSファイルの読み込み -->
    <link rel="stylesheet" href="static/css/style.css">
    <!-- MapLibre GL JSのCSS -->
    <link href="https://unpkg.com/maplibre-gl@3.x/dist/maplibre-gl.css" rel="stylesheet" />
</head>

<body>

    <header>
        <div class="hamburger" onclick="toggleMenu()">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <div class="logo">僧侶</div>
        <div class="title">ガイド</div>
    </header>

    <main>
        <div>
            <h1>ルートを選択してください</h1>
            <select id="route-select">
                {% for route_id, route in routes.items() %}
                <option value="{{ route_id }}">{{ route['name'] }}</option>
                {% endfor %}
            </select>
            <button id="load-route">ルートを表示</button>
        </div>
        <div id="map" style="width: 100%; height: 500px;"></div>
    </main>

    <footer>
        コメント
    </footer>

    <div id="menu" class="menu">
        <a href="#">ログイン・ログアウト</a>
        <a href="#">たまっているポイント: {{ temples.point }}</a>
        <div id="stamp">
            スタンプ一覧
            {% for stamp in temples.stamps %}
            <div class="stamp{% if loop.index == 1 %} active{% endif %}">{{ stamp }}</div>
            {% endfor %}
        </div>
    </div>

    <!-- ハンバーガーメニューのスクリプト -->
    <script src="static/js/map.js"></script>

    <!-- MapLibre GL JSのスクリプト -->
    <script src="https://unpkg.com/maplibre-gl@3.x/dist/maplibre-gl.js"></script>

</body>

</html>
